@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
  letter-spacing: 0px;
  text-align: left;
  max-height: 1872px;
  font-family: "Inter", sans-serif;
  margin: 1rem;
  background: #fffdfa;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}
a:hover {
  background: rgb(234, 234, 234);
  text-decoration: none;
}

h1 {
  padding: 1rem 0;
  font-family: Inter;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}

h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
p {
  /* padding-bottom: 1rem; */
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: left;
  color: #5e607a;
}
.text-title {
  padding-bottom: 1rem;
  font-family: Inter;
  font-size: 2rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #e9aa52;
}

.text-2,
.text-3 {
  padding-top: 1.5rem;
  border-top: #5e607a 1px solid;
}
button {
  margin-top: 1rem;
  color: #fffdfa;
  padding: 0.7rem 2rem;
  border: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
  text-align: left;

  background: #f15d51;
}
button:hover {
  margin-top: 1rem;
  color: #fffdfa;
  padding: 0.7rem 2rem;
  border: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
  text-align: left;

  background: #ec4d3e;
}

.gallery-item {
  margin: 0.5rem 0;
}
@media screen and (min-width: 280px) and (max-width: 932px) {
  .nav-menu {
    display: none;
  }
  body {
    width: 90vw;
    margin: auto;
    height: 1872px;
  }
  /* div {
    padding: 0.5rem 0;
  } */
  .nav-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;

    padding: 2rem 0;

    min-width: fit-content;
    max-height: fit-content;
  }

  .main {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    min-height: 42rem;
  }

  .hero-img > img {
    object-fit: fill;
    width: 100%;
  }

  .text {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    margin: 4rem 0;

    height: fit-content;
    color: #c5c6ce;

    background: #00001a;

    color: rgb(248, 248, 248);
  }

  .gallery {
    object-fit: 100%;
    display: grid;
    gap: 9px;
    grid-template-rows: repeat(1 1fr);
  }
  /* .img-1 {
  display: flex;
} */
  .gallery-item-1,
  .gallery-item-2,
  .gallery-item-3 {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: auto 2fr;
    justify-items: start;
    gap: 9px;
  }

  .gallery-item > div > h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #c5c6ce;
  }

  .img-text > p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.5rem; */
    letter-spacing: 0px;
    text-align: left;
  }
  .img-1,
  .img-s,
  .img-3 {
    object-fit: fill;
    width: 100px;
    height: 127px;
    top: 767px;
    left: 165px;
  }
}
@media screen and (max-width: 350px) {
  .img-text > p {
    font-family: "Inter", sans-serif;
    font-size: 70%;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    max-height: 100%;
  }
  body {
    height: 100%;
  }
}
@media screen and (min-width: 933px) {
  body {
    margin: 2rem auto;
    width: 1110px;
    background-color: wheat;
  }

  a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    background: rgb(234, 234, 234);
    text-decoration: none;
  }

  .burger {
    display: none;
  }
  header {
    margin: auto 0;
    height: 128px;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-menu {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;

    text-transform: capitalize;
  }
  li :active {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    border-bottom: grey 10px solid;

    text-transform: capitalize;
  }
  .nav-menu > a:hover {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;

    background: blue;
    text-decoration: none;

    text-transform: capitalize;
  }

  .logo {
    width: 64.09px;
    height: 39.9px;
    top: 72px;
    left: 165px;
  }
  li {
    display: inline;
    padding: 1rem;
  }

  /* Hero */
  .main {
    display: grid;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0, 5fr;
    grid-template-areas:
      "img img text"
      "title p text";
  }

  .hero-img {
    grid-area: img;
  }

  .hero-img > #hero-img {
    object-fit: contain;
  }

  .hero-title {
    grid-area: title;
  }

  .hero-p {
    grid-area: p;
  }

  .text {
    grid-area: text;
  }
  /*side block */
  .text {
    display: grid;
    padding: 1rem;
    justify-content: auto;
    gap: 1rem;
    background: #c5c6ce;

    background: #00001a;
  }
  
}
